<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://onlinecalculatorapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/fe453eb3-14df-4cfb-b95b-4a3e09d22af5/resourcegroups/OnlineCalculatoAppResourceGroup/providers/Microsoft.Web/sites/OnlineCalculatorApp</ResourceId>
    <UserName>$OnlineCalculatorApp</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://onlinecalculatorapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>